.Home {
  display: flex;
  flex-direction: column;
}

.Home__row {
  margin: 12px 0;
  padding: 8px;
}

.Home__link {
  background: lightgray;
  color: black;
  text-align: left;
  text-decoration: none;
  margin: 12px 0;
  padding: 8px;
  border: none;
  min-height: 34px;
}
